@namespace Silk.Dashboard.Components

@using Silk.Dashboard.Extensions

@inject NavigationManager NavManager

<AuthorizeView>
    <Authorized>
        <MudButtonGroup OverrideStyles="false">
            <MudButton Variant="Variant.Text"
                       Href="profile">
                @context.User.Identity?.Name
            </MudButton>

            <form action="api/auth/logout" method="post">
                <MudButton ButtonType="ButtonType.Submit" 
                           Variant="Variant.Text">
                    Logout
                </MudButton>
            </form>
        </MudButtonGroup>
    </Authorized>
    <NotAuthorized>
        <form action="api/auth/login" method="post">
            <MudButton ButtonType="ButtonType.Submit"
                       Variant="Variant.Text">
                Login
            </MudButton>
            <input type="hidden" name="returnUrl" value="@NavManager.Uri">
        </form>
    </NotAuthorized>
</AuthorizeView>