@page "/"

<div class="jumbotron">
    <h1>Welcome to the Silk Dashboard!</h1>
    <p class="lead">Here you'll be able to view and set configurations for Silk visually.</p>
    <hr style="height: 1px; background-color: white">
    <AuthorizeView>
        <NotAuthorized>
            <h3>Please Login!</h3>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="Account/Login" role="button">Log In</a>
            </p>
        </NotAuthorized>
        <Authorized>
            
        </Authorized>
    </AuthorizeView>
</div>