.vs/
.vscode/
.github/
.git/
.idea/
postgres/
api/
src/Silk/obj/
src/Silk/bin/
src/Silk.Data/obj/
src/Silk.Data/bin/
src/Silk.Data/obj/
src/Silk.Data/bin/
src/Silk.Extensions/obj/
src/Silk.Extensions/bin/
src/Silk.Interactivity/obj/
src/Silk.Interactivity/bin/
src/Silk.Shared/obj/
src/Silk.Shared/bin/
tests/Silk.Tests/obj/
tests/Silk.Tests/bin/
tests/Silk.Data.Tests/obj/
tests/Silk.Data.Tests/bin/
tests/Silk.Extensions.Tests/obj/
tests/Silk.Extensions.Tests/bin/