@namespace Silk.Dashboard.Components

@using Silk.Dashboard.Models

<div class="container">
    <div class="card-deck">
        @foreach (var owner in Owners)
        {
            <OwnerCardView @key="@owner" Owner="@owner" />
        }
    </div>
</div>

@code {

    [Parameter]
    public List<SilkOwner> Owners { get; set; }

}