html, body {
    background-color: #242729;
}

.content {
    /*padding-top: 1.1rem;*/
}

#guild-view-card:hover {
    box-shadow:0 1rem 3rem rgba(0,0,0,.175);
    transition: all .50s ease-in-out;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

/* Customize Blazor Disconnect/Reconnect Modal */
#components-reconnect-modal {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    z-index: 1000;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.92);
    text-align: center;
    font-weight: bold;
}

#components-reconnect-modal.components-reconnect-hide {
    display: none;
}

#blazorReconnect {
    display: none;
}

#components-reconnect-modal.components-reconnect-show {
    display: block;
}

#components-reconnect-modal.components-reconnect-show #blazorReconnect {
    display: block;
}

#blazorFailedOrRejected {
    display: none;
}

#components-reconnect-modal.components-reconnect-failed {
    display: block;
}

#components-reconnect-modal.components-reconnect-failed #blazorFailedOrRejected {
    display: block;
}

#components-reconnect-modal.components-reconnect-rejected {
    display: block;
}

#components-reconnect-modal.components-reconnect-rejected #blazorFailedOrRejected {
    display: block;
}
/* End - Customize Blazor Disconnect/Reconnect Modal */