@page "/"
@using Silk.Dashboard.Models

<div class="container p-4">
    <HeaderView Text="Welcome to Silk!" ImageUrl="https://files.velvetthepanda.dev/silk.png">
        <a class="btn btn-primary text-center"
           href="https://discord.com/api/oauth2/authorize?client_id=721514294587424888&permissions=502656214&scope=bot%20applications.commands"
           target="_blank">Invite Me!</a>
    </HeaderView>

    <h3 class="text-center mb-3">Meet my Creators!</h3>

    <OwnerCardCollectionView Owners="@_owners" />
</div>

@code {
    private List<SilkOwner> _owners;

    protected override void OnInitialized()
    {
        _owners = new List<SilkOwner>
    {
            new("VelvetThePanda", "Founder and Lead Developer of Silk", "https://github.com/VelvetThePanda.png"),
            new("Nullfact0r", "Infrastructure Admin and Helper", "https://github.com/nullfact0r.png"),
            new("CalebABG", "Dashboard Developer and Helper", "https://github.com/CalebABG.png"),
        };
    }

}